%section.landing
  .logo.logo--landing= 'tindart'
  .landing__container
    %h2.landing__title= 'Muzea są zbyt fajne, by zwiedzać je samotnie.'
    = link_to show_art_piece_path, class: 'landing__cta' do
      Zmień to już teraz
