// --- core --------------------------------------------------------------------

body {
  background: $color--white;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

a {
  color: $color--red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}
