// --- top ---------------------------------------------------------------------

.top {
  margin-bottom: $base--gap;
  padding: $base--gap 0;

  &__container {
    @extend %l-container;
    display: flex;
    justify-content: center;
  }
}
