// --- venue -------------------------------------------------------------------

.venue {
  &__title {}

  &__description {
    color: #777;
  }

  &__photo {
    @include tablet {
      float: right;
      width: 50%;
      margin-left: 5%;
    }
  }

  &__address {
    margin: $base--gap 0;
    font-size: .875rem;
  }
}
